@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Fira+Sans+Condensed&family=Unbounded&display=swap");
body {
  color: white;
  background: #f5f1fe;
  font-family: "Fira Sans Condensed", sans-serif;
}
.container {
  margin-top: 40px;
  margin-bottom: 0px;
}

.github-link {
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 12px;
  font-family: "Unbounded", cursive;
  color: #000000;
}
.link {
  font-size: 12px;
  font-weight: 200;
  text-align: center;
  margin-top: 8px;
  color: #042d57;
  font-family: "Unbounded", cursive;
}
.link:hover {
  text-decoration: underline;
  color: #000000;
}
@media (max-width: 576px) {
  .container {
    margin-bottom: 0px;
  }
}
