@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Fira+Sans+Condensed&family=Unbounded&display=swap");

.WeatherForecast {
  font-family: "Courgette", cursive;
  color: #ffffff;
}
.col-2 {
  font-size: 20px;
  font-family: "Courgette", cursive;
  margin: 5px;
  text-align: center;
  flex: 1;
}
.max-temp {
  font-size: 18px;
}
.min-temp {
  opacity: 0.6;
  font-size: 18px;
  margin: 5px;
}
