@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Fira+Sans+Condensed&family=Unbounded&display=swap");
h1 {
  font-family: "Unbounded", cursive;
  color: #000000;
  text-align: center;
}
.weather-app {
  max-width: 600px;
  margin: auto;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  padding: 20px 15px;
  border-radius: 16px;
  margin-top: 20px;
  opacity: 1;
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/069/547/original/pexels-anete-lusina-6331043.jpg?1677681785");
  background-size: cover;
  font-family: "Fira Sans Condensed", sans-serif;
}
.search-bar {
  width: 400px;
  height: 48px;
  margin-left: 30px;
  background: #000000;
  opacity: 0.5;
  border-radius: 30px;
  color: white;
  border: none;
  font-size: 18px;
  padding-left: 30px;
}
::placeholder {
  color: white;
  opacity: 1.5;
}
.search-btn {
  color: white;
  padding: 10px;
  background: #000000;
  opacity: 0.5;
  border-radius: 30px;
  font-size: 16px;
}
.description {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/069/547/original/pexels-anete-lusina-6331043.jpg?1677681785");
  background-size: cover;
  border-radius: 20px;
  font-family: "Courgette", cursive;
  font-size: 20px;
  color: whitesmoke;
}
.list-group-item {
  background: transparent;
  color: white;
  list-style: none;
  font-size: 18px;
}
.list-group {
  margin-top: 40px;
}
@media (max-width: 576px) {
  .search-bar {
    width: 200px;
    margin-left: 10px;
  }
  .list-group-item {
    font-size: 10px;
  }
 
}
