@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Fira+Sans+Condensed&family=Unbounded&display=swap");
.description {
  background: transparent;
  color: white;
  border-radius: 20px;
  font-family: "Courgette", cursive;
  font-size: 20px;
}
.list-group-item {
  background: transparent;
  color: white;
  list-style: none;
  font-size: 18px;
}

