@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Fira+Sans+Condensed&family=Unbounded&display=swap");
.description{
     background: transparent;
  color: white;
 border-radius: 20px;
 font-family: "Courgette", cursive;
}
.list-group-item {
 background: transparent;
  color: white;
  list-style: none;
  border: none;
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

